@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;500&display=swap');

a {
  font-family: 'Roboto', sans-serif;
  color: white;
  text-decoration: none;
}

nav {
  font-family: 'Bebas Neue', cursive;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffd6eb;
}
